body{
    background-color: lightpink;
}

.nav-link {
    fontweight: lighter;
}
.nav-link:hover {
    font-weight: bold; 
    background-color: #ffb3b3;
}
header{ 
    height: 600px;
    width: 100%;
    background-image: url("cherryblossoms.jpg");
    background-size: cover;
    text-align: left;
    font-family: "Special Elite", cursive;
    font-style: ;
}

header p{ 
    font-style: italic;
    font-style: bold;
}

.container{ 
    background-color: lightgrey;
    opacity: 0.6;
}

h1{ 
    opacity: 1;
    
}