body{
    background-color: lightpink;
}

.nav-link {
    fontweight: lighter;
}
.nav-link:hover {
    font-weight: bold; 
    background-color: #ffb3b3;
}
header{ 
    height: 600px;
    width: 100%;
    background-image: url("cherryblossoms.jpg");
    background-size: cover;
    text-align: center; 
    font-family: "Acme", cursive;

}


header p{ 
    font-style: italic;
  
}

body{ 
    color: #;
}
.aboutus{
    margin-top: 30px;
    text-align:center;
    font-family: "Acme", Cursive;
}

.aboutus i{
    font-size: 30px;
    Padding: 13px 10px;
    color: #fff;
    background-color: #ff0066;
   width: 50px;
   height: 50px;
    border-radius: 50%;
}

.aboutus span{
    width: 20px
    display: inline-block;
    font-size: 30px
}

.team{
    font-family: "Acme", cursive;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.team img{
    /* can aslo be object-fit; cover , with 250 px for w and h*/
    object-fit: fill;
    border-radius: 50%;
    margin-bottom:50px ;
    
}

.getinvolved{ 
    text-align: center;
    font-family: "Acme", cursive;
   padding: 50px, 0, 80px;
   margin-top:50px;
    width:100%;
    margin-bottom: 50px;
}

.getinvolved i{
    width: 50px;
    height: 50px;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.options{
    background-color: #fff;
    margin: 10px;
    padding:30px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px
}


.contact{
    font-family: "Acme", cursive;
    text-align:center;
margin-top: 80px ;
margin-bottom: 100px;
}




.contact .btn{
    Width: 100% ;
    font-size: 15px;
    border-radius: 0;
}

.contact .input-group{
    margin-bottom: 25px; 
    
}


.contact.btn:hover{
    background-color: #a85959 !important;
    color: #fff !important;
} 

.container-fluid{ 
    background-color: #202020;
    font-family: "Acme", cursive;
    
}

.ul{
    color: white;
}